manifest {
    name = 'scratch-workflow'
    description = 'Scratch workflow for testing record types and workflow outputs'
    version = '0.1.0'
    mainScript = 'main.nf'
    nextflowVersion = '>=26.04.0'
    contributors = [
        [
            name: 'Rob Syme',
            email: 'rob.syme@seqera.io',
            contribution: ['author', 'maintainer'],
        ],
    ]
}
